web/WEB-INF/wsdl/localhost_8080/AppServer/consultas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://modelo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://modelo/" name="consultas">
<types>
<xsd:schema>
<xsd:import namespace="http://modelo/" schemaLocation="http://localhost:8080/appSERVER/consultas?xsd=1" />
</xsd:schema>
</types>
<message name="eliminar">
<part name="parameters" element="tns:eliminar" />
</message>
<message name="eliminarResponse">
<part name="parameters" element="tns:eliminarResponse" />
</message>
<message name="crearNuevo">
<part name="parameters" element="tns:crearNuevo" />
</message>
<message name="crearNuevoResponse">
<part name="parameters" element="tns:crearNuevoResponse" />
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios" />
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="listarLibro">
<part name="parameters" element="tns:listarLibro" />
</message>
<message name="listarLibroResponse">
<part name="parameters" element="tns:listarLibroResponse" />
</message>
<message name="crearNuevoLibro">
<part name="parameters" element="tns:crearNuevoLibro" />
</message>
<message name="crearNuevoLibroResponse">
<part name="parameters" element="tns:crearNuevoLibroResponse" />
</message>
<message name="usuariosporId">
<part name="parameters" element="tns:usuariosporId" />
</message>
<message name="usuariosporIdResponse">
<part name="parameters" element="tns:usuariosporIdResponse" />
</message>
<message name="listarCarreras">
<part name="parameters" element="tns:listarCarreras" />
</message>
<message name="listarCarrerasResponse">
<part name="parameters" element="tns:listarCarrerasResponse" />
</message>
<message name="generar_prestamo">
<part name="parameters" element="tns:generar_prestamo" />
</message>
<message name="generar_prestamoResponse">
<part name="parameters" element="tns:generar_prestamoResponse" />
</message>
<portType name="consultas">
<operation name="eliminar">
<input wsam:Action="http://modelo/consultas/eliminarRequest" message="tns:eliminar" />
<output wsam:Action="http://modelo/consultas/eliminarResponse" message="tns:eliminarResponse" />
</operation>
<operation name="crearNuevo">
<input wsam:Action="http://modelo/consultas/crearNuevoRequest" message="tns:crearNuevo" />
<output wsam:Action="http://modelo/consultas/crearNuevoResponse" message="tns:crearNuevoResponse" />
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://modelo/consultas/listarUsuariosRequest" message="tns:listarUsuarios" />
<output wsam:Action="http://modelo/consultas/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://modelo/consultas/loginRequest" message="tns:login" />
<output wsam:Action="http://modelo/consultas/loginResponse" message="tns:loginResponse" />
</operation>
<operation name="listarLibro">
<input wsam:Action="http://modelo/consultas/listarLibroRequest" message="tns:listarLibro" />
<output wsam:Action="http://modelo/consultas/listarLibroResponse" message="tns:listarLibroResponse" />
</operation>
<operation name="crearNuevoLibro">
<input wsam:Action="http://modelo/consultas/crearNuevoLibroRequest" message="tns:crearNuevoLibro" />
<output wsam:Action="http://modelo/consultas/crearNuevoLibroResponse" message="tns:crearNuevoLibroResponse" />
</operation>
<operation name="usuariosporId">
<input wsam:Action="http://modelo/consultas/usuariosporIdRequest" message="tns:usuariosporId" />
<output wsam:Action="http://modelo/consultas/usuariosporIdResponse" message="tns:usuariosporIdResponse" />
</operation>
<operation name="listarCarreras">
<input wsam:Action="http://modelo/consultas/listarCarrerasRequest" message="tns:listarCarreras" />
<output wsam:Action="http://modelo/consultas/listarCarrerasResponse" message="tns:listarCarrerasResponse" />
</operation>
<operation name="generar_prestamo">
<input wsam:Action="http://modelo/consultas/generar_prestamoRequest" message="tns:generar_prestamo" />
<output wsam:Action="http://modelo/consultas/generar_prestamoResponse" message="tns:generar_prestamoResponse" />
</operation>
</portType>
<binding name="consultasPortBinding" type="tns:consultas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="eliminar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="crearNuevo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarLibro">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="crearNuevoLibro">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="usuariosporId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="listarCarreras">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generar_prestamo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="consultas">
<port name="consultasPort" binding="tns:consultasPortBinding">
<soap:address location="http://localhost:8080/appSERVER/consultas" />
</port>
</service>
</definitions>